{# templates/partials/_navigation.html.twig #}
<div class="header1">
    <div class="header2">
        {# Usamos asset() para que la ruta sea absoluta desde la raíz #}
        <a href="{{ path('index') }}">
            <img class="logo-image" src="{{ asset('images/logo.png') }}" alt="Logo" width="300" height="320" class="logo" />
        </a>
    </div>
</div>

<div class="hd_menu">
    <a href="{{ path('index') }}" class="{{ app.request.attributes.get('_route') == 'index' ? 'active' : '' }}" style="margin-left:40px;">home</a>
    <img src="{{ asset('images/menu_blt.jpg') }}" alt="" width="14" height="15">

    <a href="{{ path('about') }}" class="{{ app.request.attributes.get('_route') == 'about' ? 'active' : '' }}">about us</a>
    <img src="{{ asset('images/menu_blt.jpg') }}" alt="" width="14" height="15"/>

    <a href="{{ path('images') }}" class="{{ app.request.attributes.get('_route') == 'images' ? 'active' : '' }}">images</a>
    <img src="{{ asset('images/menu_blt.jpg') }}" alt="" width="14" height="15"/>

    <a href="{{ path('list_images') }}" class="{{ app.request.attributes.get('_route') == 'list_images' ? 'active' : '' }}">list images</a>
    <img src="{{ asset('images/menu_blt.jpg') }}" alt="" width="14" height="15"/>

    <a href="{{ path('new_post') }}" class="{{ app.request.attributes.get('_route') == 'post' ? 'active' : '' }}">new post</a>

{#    <a href="{{ path('posts') }}" class="{{ app.request.attributes.get('_route') == 'posts' ? 'active' : '' }}">posts</a>#}
    <img src="{{ asset('images/menu_blt.jpg') }}" alt="" width="14" height="15"/>

</div>